* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

@font-face {
	font-family: 'GeneralSans-Medium';
	src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Switzer-Regular';
	src: url('/fonts/Switzer-Regular.woff2') format('woff2');
}

:root {
	--color-bg: #100f0f;
    --color-text: #FCECEC;

	--bg-1: #374145;
	--bg-green: #3C4841;
	--post-title: #E69875;
	--gray-0: #7A8478;
	--gray-1: #859289;
	--accent-color: #D699B6;
	--author: #E67E80;
	--tags: #DBBC7F;
	--post-text: #A7C080;

    --font-headings: "GeneralSans-Medium", Roboto, sans-serif;
    --font-body: "Switzer-Regular", sans-serif;
}

html {
    font: 16px/28px var(--font-body);
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    color: var(--color-text);
    background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--color-text);
	line-height: 1.2;
    font-family: var(--font-headings);
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.2em;
}

strong,
b {
	font-weight: 700;
}
a {
	color: var(--tags);
    text-decoration: none;
}
a:hover {
	color: var(--tags);
    text-decoration: none;
}
p {
	margin-bottom: 1em;
	color: var(--color-text);
}
.prose p {
	margin-bottom: 2em;
}

ul {
	color: var(--post-text);
}

ul::marker {
	color: var(--post-text);
}

ol {
	color: var(--post-text);
}

ol::marker {
	color: var(--post-text);
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--bg-1);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--bg-green);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--gray-1);
}

@media (max-width: 720px) {
	body {
		font-size: 14px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
