* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

@font-face {
	font-family: 'GeneralSans-Medium';
	src: url('/fonts/GeneralSans-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Switzer-Regular';
	src: url('/fonts/Switzer-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Tiltorion';
	src: url('/fonts/Tiltorion.otf');
}
@font-face {
	font-family: 'FUNGIS Regular';
	src: url('/fonts/FUNGIS Regular.woff2');
}
@font-face {
	font-family: 'UncutSans-Regular';
	src: url('/fonts/UncutSans-Regular.woff2');
}
@font-face {
	font-family: 'UncutSans-Bold';
	src: url('/fonts/UncutSans-Bold.woff2');
}
@font-face {
	font-family: 'NeueKonstantGrotesk-Book';
	src: url('/fonts/NeueKonstantGrotesk-Book.otf');
}

:root {
	--color-bg: #100f0f;
    --color-text: #FCECEC;

	--bg-1: #374145;
	--bg-green: #3C4841;
	--post-title: #E69875;
	--gray-0: #7A8478;
	--gray-1: #859289;
	--accent-color: #D699B6;
	--author: #E67E80;
	--tags: #DBBC7F;
	--post-text: #A7C080;

	--base: #191724;
	--surface: #26233a;
	--overlay: #26233a;
	--muted: #6e6a86;
	--subtle: #908caa;
	--text: #e0def4;
	--love: #eb6f92;
	--gold: #f6c177;
	--rose: #ebbcba;
	--pine: #31748f;
	--foam: #9ccfd8;
	--iris: #c4a7e7;
	

    --font-headings: "UncutSans-Bold", Roboto, sans-serif;
    --font-body: "UncutSans-Regular", sans-serif;
	--font-display: "NeueKonstantGrotesk-Book", sans-serif;
	--font-quirk: "Tiltortion", serif;
}

html {
    font: 18px/28px var(--font-body);
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--base);
}

body {
    margin: 1em 2em;
	padding: 0;
	text-align: left;
	
	word-wrap: break-word;
	overflow-wrap: break-word;

	min-height: 100vh;

	border: 3px solid var(--subtle);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text);
	line-height: 1.2;
    font-family: var(--font-headings);
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.2em;
}

strong,
b {
	font-weight: 700;
}
a {
	color: var(--gold);
    text-decoration: none;
}
a:hover {
	color: var(--gold);
    text-decoration: none;
}
p {
	margin-bottom: 1em;
	color: var(--text);
}
.prose p {
	margin-bottom: 2em;
}

ul {
	color: var(--text);
}

ul::marker {
	color: var(--text);
}

ol {
	color: var(--text);
}

ol::marker {
	color: var(--text);
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--muted);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--overlay);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--subtle);
}

@media (max-width: 720px) {
	body {
		font-size: 14px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
