---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostWidget from '../components/BlogPostWidget.astro';
---

<BaseLayout>
	<main>
		<h1>All Posts here</h1>
		<BlogPostWidget />
	</main>
</BaseLayout>