---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostWidget from '../components/BlogPostWidget.astro';
---

<BaseLayout>
	<main>
		<div class="page-title-wrapper">
			<h1>Latest Blogs</h1>
		</div>
		<BlogPostWidget />
	</main>
</BaseLayout>