---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostWidget from '../components/BlogPostWidget.astro';
---

<BaseLayout>
	<main>
		<h2>All Posts here</h2>
		<BlogPostWidget />
	</main>
</BaseLayout>