---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostWidget from '../components/BlogPostWidget.astro';
---

<BaseLayout>
	<main>
		<div class="page-title-wrapper">
			<h1>Latest Blogs</h1>
			<p>A list of all blog posts written by our community</p>
		</div>
		<BlogPostWidget />
	</main>
</BaseLayout>