---
const today = new Date();
---

<footer>
	<div class="footer-margins">
		<p class="copyright">&copy; {today.getFullYear()} RobinTheHoo. All rights reserved.</p>
		<a href="/Blog/colophon">Colophon</a>
	</div>
</footer>
<style>
	footer {
		border-top: 1px solid var(--color-text);
		font-size: 16px;
	}

	.footer-margins{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		padding: .5em 1em;
	}

	.copyright{
		margin:0;
	}
</style>
