---
import { getCollection } from "astro:content";

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---
<nav class="tag-index">
    <h2>Tags</h2>
    
    {
        tags.map((tag) => (
          <p class="tag">
            <a href={`/Blog/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
</nav>

<style>
  .tag-index{
    grid-row: 2;
    grid-column: 1;
  }
</style>