---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import TagIndex from '../components/TagIndex.astro';
import '../styles/baselayout.css';
---

<!doctype html>
<html lang="en">
	<head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="top-rect"></div>
		<Header />
		<TagIndex />					
		<slot />				
		<Footer />
	</body>
</html>